<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://www.google.com">Google something</a>
      by <a href="http://github.com/jorgelp94">Jorge Perales</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
